.pageContainer {
  height: 100%;
  overflow: hidden;
  display: flex;
  margin: 0;
}
#sidebar {
  height: 100vh;
  width: 15rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid whitesmoke;
}
.editorContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.textEditor {
  outline: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.toolbar {
  display: flex;
  align-items: center;
}
.note {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.noteTitle {
  flex: 0 1 auto;
  height: 10%;
}
.noteContent {
  flex: 1 1 auto;
}
